.form .row {
	margin-left: 0px;
}

.diff {
	width: 100%;
	background: none;
}

.diff.navbar-fixed-top {
	padding: 10px;
	background: #fafafa;
	top: 40px;
	left: auto;
	right: 20px;
	width: 250px;
}

.diff.navbar-fixed-top .item {
	float: none;
	width: 100%;
}

.diff .item{
	float: left;
	width: 20%;
}

